<div class="module taptocall {{position}}" ng-controller="taptocallController">
     <koa-button translate ng-click="goToLink('tel:{{phoneNumber}}')" ng-if='buttonType === "standard"'>{{caption}}</koa-button>
     <koa-button big ng-click="goToLink('tel:{{phoneNumber}}')" ng-if='buttonType === "big"'>{{caption}}</koa-button>
</div>
